<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuidQuest"
        tools:targetApi="31">
        <activity
            android:name=".AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ManageCategoryActivity"
            android:exported="true"/>
        <activity
            android:name=".AddDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ManageDepartmentActivity"
            android:exported="false"/>
        <activity
            android:name=".InviteEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeEditPage"
            android:exported="false" />
        <activity
            android:name=".EmployeeLIstScreen"
            android:exported="true" />
        <activity
            android:name=".UpdatePasswordActivity"
            android:exported="true"/>
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ManagerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingCreatePassword"
            android:exported="false" />
        <activity
            android:name=".OnboardingVerifyDetails"
            android:exported="false" />
        <activity
            android:name=".OnboardingBankDetails"
            android:exported="false" />
        <activity
            android:name=".OnboardingPhoneNumber"
            android:exported="false" />
        <activity
            android:name=".CreateProfile"
            android:exported="false" />
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false"/>
        <activity
            android:name=".SingleExpenseActivity"
            android:exported="false"/>
        <activity
            android:name=".Expense_Screen"
            android:exported="false" />
        <activity
            android:name=".Settings_Menu"
            android:exported="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardWelcome"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="quid.quest"
                    android:pathPrefix="/employeeAndroid/"
                    android:scheme="https" />
            </intent-filter>

        </activity>
    </application>

</manifest>